appnope==0.1.2
asttokens==2.0.5
backcall==0.2.0
black==21.12b0
cli-helpers==2.2.1
click==8.0.3
configobj==5.0.6
debugpy==1.5.1
decorator==5.1.1
entrypoints==0.3
executing==0.8.2
ipykernel==6.7.0
ipython==8.0.1
jedi==0.18.1
jupyter-client==7.1.1
jupyter-core==4.9.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
nest-asyncio==1.5.4
numpy==1.22.1
pandas==1.3.5
parso==0.8.3
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pgcli==3.3.1
pgspecial==1.13.0
pickleshare==0.7.5
platformdirs==2.4.1
prompt-toolkit==3.0.24
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.1
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2021.3
pytzdata==2020.1
pyzmq==22.3.0
setproctitle==1.2.2
six==1.16.0
SQLAlchemy==1.4.30
sqlparse==0.4.2
stack-data==0.1.4
tabulate==0.8.9
tomli==1.2.3
tornado==6.1
traitlets==5.1.1
typing_extensions==4.0.1
wcwidth==0.2.5
